.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(240, 124, 1, 1);
  height: 100%;
  width: 100%;
  margin: auto;
}

.Contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(240, 124, 1, 0.8);
  height: 100%;
  width: 90%;
  margin: auto;
}

.Contact-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  height: 350px;
  margin: auto;
}

.Contact-img {
  display: block;
  width: 100%;
  border-radius: 50%;
  margin: auto;
}

.Contact-h2 {
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  font-size: 2.2em;
  color: White;
  margin-top: 1em;
  padding-top: 0.5em;
  letter-spacing: 1.5px;
}

.Contact-h3 {
  font-family: "Lusitana", serif;
  font-weight: bolder;
  font-size: 1.5em;
  color: White;
  letter-spacing: 2px;
}

.Contact-p {
  font-family: "Neuton", serif;
  color: white;
  font-size: 1.2em;
  text-align: left;
  padding: 0 1em 0 1em;
}

.Contact-button {
  background-color: inherit;
  color: white;
  border: 1px solid white;
  position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
}
