.Services {
  height: 100%;
  width: 100%;
}

.Services-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  background: url("./img/services-hero.jpg");
  background-size: cover;
  background-position: center;
}

.Services-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(240, 124, 1, 0.5);
  width: 100%;
  height: 100%;
}

.Services-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  text-align: left;
}

.Services-h1 {
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 2em;
  margin: auto;
  letter-spacing: 1.2px;
}

.Services-h2 {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  font-size: 2em;
  color: #ed7b00;
  letter-spacing: 1.5px;
}

.Services-h3 {
  padding: 0 1em 0 1em;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  font-size: 2em;
  color: #ed7b00;
  letter-spacing: 1.5px;
}

.Services-h5 {
  padding: 0 1em 0 1em;
  text-align: left;
  font-family: "Mulish", sans-serif;
  font-weight: bolder;
  color: #ed7b00;
  letter-spacing: 1.5px;
  margin: auto 0;
}

.Services-p {
  font-family: "Neuton", serif;
  font-size: 1.2em;
  text-align: left;
  padding: 0 1em 0 1em;
  margin: auto;
}

.Services-wrapper ul {
  list-style: none;
  padding-left: 1em;
  
}

.Services-wrapper ul li {
  font-family: "Neuton", serif;
  font-size: 1.2em;
  text-align: left;
  padding: 0 1em 0 1em;
  margin-top: .4em;
}
